.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        = current_user.name
      %ul.side-bar__user-name__box__icon
        %li.side-bar__user-name__box__icon__icon1
          %i.fa.fa-edit.fa-white
        %li.side-bar__user-name__box__icon__icon2
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.fa-white

  .side-bar__group-list
    .side-bar__group-list__box
      .side-bar__group-list__box__name
        hogehoge
      .side-bar__group-list__box__line
        まだメッセージがありません
    .side-bar__group-list__box
      .side-bar__group-list__box__name
        hogehogeo
      .side-bar__group-list__box__line
        まだメッセージがありません 
    .side-bar__group-list__box
      .side-bar__group-list__box__name
        hogehogeo
      .side-bar__group-list__box__line
        まだメッセージがありません    


